<div class="container-fluid no-padding">
	<div id="myDrawer" class="drawer">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-1">
				<p class="menu-text">Conectado com</p>
				<p class="menu-text">(51) 91414338</p>
				<a class="menu-out" href="#">SAIR</a>
			</div>
			<div class="col-xs-3 menu-close-div">
				<a href="javascript:void(0)" class="menu-close" (click)="closeDrawer($event)">&times;</a>
			</div>
			<div class="clearfix"></div>
			<br>
			<div class="divider"></div>
			<br>
			<br>
			<div class="col-xs-10 col-xs-offset-1">
				<a routerLink="/" class="menu-link" (click)="closeDrawer($event)">CONTROLE DE DESPESAS</a>
			</div>
			<div class="clearfix"></div>
			<br>
			<br>
			<div class="col-xs-10 col-xs-offset-1">
				<a routerLink="/blog" class="menu-link" (click)="closeDrawer($event)">MATÉRIAS</a>
			</div>
		</div>
	</div>
	<div id="bgDrawer" class="bg-drawer">
		<div class="row">
			<div class="col-xs-8 col-xs-offset-1">
				
			</div>
			<div class="col-xs-3">
				
			</div>
			<div class="clearfix"></div>
			<br>
			<br>
			<br>
			<div class="col-xs-10 col-xs-offset-1">
				
			</div>
			<div class="clearfix"></div>
			<br>
			<br>
			<div class="col-xs-10 col-xs-offset-1">
				
			</div>
		</div>
	</div>

	<div id="navbar" class="navbar divider">
		<div class="row">
			<div class="col-xs-2 no-padding text-center">
				<i class="fa fa-bars navbar-bars" aria-hidden="true" (click)="openDrawer($event)"></i>
			</div>
			<div class="col-xs-8 no-padding">
				<p class="text-center navbar-title simplon">PLANICONTAS</p>
			</div>
			<div class="col-xs-2 padding-right">
				<img routerLink="/" [src]="oiLogo" class="navbar-img" alt="Oi">
			</div>
		</div>
	</div>
</div>