@media screen and (max-width: 340px){
    .menu-close-div {
        position: absolute;
        left: 215px;
    }
}
@media screen and (min-width: 341px) and (max-width: 386px){
    .menu-close-div {
        position: absolute;
        left: 230px;
    }
}
@media screen and (min-width: 387px) {
    .menu-close-div {
        position: absolute;
        left: 270px;
    }
}

.drawer {
    height: 100%; 
    width: 0; 
    position: fixed; 
    z-index: 9999; 
    top: 0;
    left: 0;
    background-color: #FFFFFF; 
    overflow-x: hidden; 
    padding-top: 40px; 
    transition: 0.4s;
}
.bg-drawer {
    height: 100%; 
    width: 100%; 
    position: fixed; 
    z-index: 9998; 
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5); 
    overflow-x: hidden; 
    padding-top: 40px; 
    transition: 0.4s;
    display: none;
}
.drawer a:hover, .offcanvas a:focus{
    color: #f1f1f1;
}

.menu-link {
    text-decoration: none;
    font-size: 29px;
    line-height: 33px;
    color: #58595B;
    display: block;
    transition: 0.2s;
    width: 250px;
}
.menu-link:focus {
    text-decoration: none;
}
.menu-link:hover, .offcanvas .menu-link:focus {
    color: #000 !important;
    text-decoration: none;
}
.menu-text {
    color: #58595B;
    font-size: 19px;
    line-height: 10px;
    width: 250px;
}
.menu-out {
    color: #00ceff;
    font-size: 13px;
    line-height: 25px;
}
.menu-out:focus {
    text-decoration: none;
}
.menu-out:hover, .offcanvas .menu-out:focus {
    color: #000 !important;
    text-decoration: none;
}
.menu-close {
    font-size: 40px;
    color: #58595B;
}

.divider {
    border-bottom: 1px solid #EAEAEA !important;
}

.navbar {
    height: 75px;
}
.navbar-bars {
    font-size: 30px !important;
    margin-top: 20px;
    margin-left: 10px;
}
@media screen and (max-width: 340px){
    .navbar-title {
        font-size: 15px !important;
        margin-top: 25px;
    }
}
.navbar-title {
    font-size: 17px;
    margin-top: 25px;
}
.navbar-img {
    width: 100%;
    margin-top: 15px;
    max-width: 45px;
    max-height: 50px;
}

.no-padding {
    padding: 0 !important;
}

.padding-right {
    padding-left: 0px !important;
    padding-right: 6% !important;
}