<div class="container-fluid">
	<div class="row text-center">
		<div class="col-xs-4 no-padding">
			<a routerLink="/" >
				<p class="sub-menu-text sub-menu-active">VISÃO GERAL</p>
			</a>
		</div>
		<div class="col-xs-4 no-padding">
			<a routerLink="/receita_e_despesas" >
				<p class="sub-menu-text">RECEITA E DESPESAS</p>
			</a>
		</div>
		<div class="col-xs-4 no-padding">
			<a routerLink="/relatorio" >
				<p class="sub-menu-text">RELATÓRIO</p>
			</a>
		</div>
	</div>
	<br>
	<div class="clearfix"></div>
	<div class="row chart-row">
		<div class="col-xs-8 col-xs-offset-2 text-center no-padding">
			<canvas id="chart"></canvas>
			<p class="chart-saldo">Saldo</p>
			<p class="chart-cantidad">{{_balance}}</p>
			<p class="chart-mes">{{_date}}</p>
		</div>
	</div>
	<br>
	<br>
	<div class="clearfix"></div>
	<div class="row" *ngFor="let item of data" [ngClass]="!isNull ? 'row-divider': ''">
		<div *ngIf="item.name!='Sem lançamentos'">
			<div class="col-xs-1 text-left padding-left">
				<i class="fa fa-circle item-circle" aria-hidden="true" [style.color]="item.color"></i>
			</div>
			<div class="col-xs-6 no-padding" style="margin-left: 10px;margin-right: -10px">
				<p class="item-text">{{item.name}}</p>
			</div>
			<div class="col-xs-5 text-right padding-right">
				<p class="item-price">R$ {{item.value}},00</p>
			</div>
		</div>
		<div *ngIf="item.name=='Sem lançamentos'">
			<div class="col-xs-2"></div>
			<div class="col-xs-8 text-center">
				<p class="txt-no-lancamentos">Você ainda não possui lançamentos no período.</p>
			</div>
			<div class="col-xs-2"></div>
		</div>
	</div>
	<br>
	<br>
	<div class="clearfix"></div>
	<button class="btn-add-item" routerLink="/adicionar">Cadastrar lançamento</button>
	<br>
	<div class="clearfix"></div>
</div>