@media screen and (max-width: 340px){
    #chart {
        display: inline !important;
        width: 204px !important;
        height: 204px !important;
    }
    .chart-saldo {
        position: absolute;
        top: 63px;
        font-size: 21px;
        left: 0px;
        width: 100%;
    }
    .chart-cantidad {
        position: absolute;
        top: 88px;
        font-size: 21px;
        left: 0px;
        width: 100%;
    }
    .chart-mes {
        position: absolute;
        top: 115px;
        font-size: 13px;
        left: 0px;
        width: 100%;
    }

    .sub-menu-text{
        font-size: 11px !important;
    }
}
@media screen and (min-width: 341px) and (max-width: 386px){
    #chart {
        display: inline !important;
        width: 217px !important;
        height: 217px !important;
    }
    .chart-saldo {
        position: absolute;
        top: 70px;
        font-size: 21px;
        left: 0px;
        width: 100%;
    }
    .chart-cantidad {
        position: absolute;
        top: 94px;
        font-size: 21px;
        left: 0px;
        width: 100%;
    }
    .chart-mes {
        position: absolute;
        top: 120px;
        font-size: 13px;
        left: 0px;
        width: 100%;
    }

    .sub-menu-text{
        font-size: 12px !important;
    }
}
@media screen and (min-width: 387px) {
    #chart {
        display: inline !important;
        width: 250px !important;
        height: 250px !important;
    }
    .chart-saldo {
        position: absolute;
        top: 83px;
        font-size: 25px;
        left: 0px;
        width: 100%;
    }
    .chart-cantidad {
        position: absolute;
        top: 114px;
        font-size: 25px;
        left: 0px;
        width: 100%;
    }
    .chart-mes {
        position: absolute;
        top: 150px;
        font-size: 16px;
        left: 0px;
        width: 100%;
        text-transform: uppercase;
    }

    .sub-menu-text{
        font-size: 13px !important;
    }
}

.no-padding {
    padding: 0 !important;
}

.padding-right {
    padding-left: 0px !important;
    padding-right: 15px !important;
}

.padding-left {
    padding-right: 0px !important;
    padding-left: 15px !important;
}

.sub-menu-text {
    color: #404040 !important;
}
.sub-menu-active {
    border-bottom: solid 1px #00ceff;
    display: inline-block;
}

.item-circle {
    line-height: 25px;
}
.item-text {
    font-size: 19px;
    color: #b7b7b7;
    margin: 0;
}
.item-price {
    font-size: 19px;
    color: #b7b7b7;
    margin: 0;
}

.btn-add-item {
    width: 100%;
    height: 75px;
    background: white;
    border: solid 1px #b7b7b7;
    color: #b7b7b7;
    font-size: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
}

.txt-no-lancamentos {
    font-size: 20px;
    color: #b7b7b7;
}

.row-divider {
    height: 40px;
    border-bottom: 1px solid rgba(199, 199, 199, 0.52);
    line-height: 40px;
}