.no-padding {
    padding: 0 !important;
}

#myCarousel {
	background-color: #881edd;
	height: 380px;
}

.row-slide {
	width: 92%;
	margin-left: 4%;
	margin-right: 4%;
}

.slide-logo {
	width: 15%;
	margin-top: 15px;
}
.slide-image {
	height: 135px;
}
.slide-text {
	color: white;
	font-size: 18px;
	font-family: SimplonOi;
}

.input {
	width: 90%;
	height: 50px;
	font-size: 21px;
	background-color: transparent;
	border-top: 0;
	border-left: 0;
	border-right: 0;
	border-bottom: solid 1px #b5b5b5;
	color: white;
}
.input::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #D5C1DE;
}
.input::-moz-placeholder { /* Firefox 19+ */
  color: #D5C1DE;
}
.input:-ms-input-placeholder { /* IE 10+ */
  color: #D5C1DE;
}
.input:-moz-placeholder { /* Firefox 18- */
  color: #D5C1DE;
}

.title {
	color: white;
	font-size: 28px;
	font-family: SimplonOi;
	margin-right: 20px;
}

.button {
	width: 100%;
	height: 65px;
	border: 0;
	background-color: #00CEFF;
	font-size: 22px;
	color: white;
}

.labelInfo {
	width: 100%;
	font-size: 15px;
	color: #D5C1DE;
}