<div class="container-fluid no-padding">
	<div *ngIf="!isConfirm">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		    <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
		    <li data-target="#myCarousel" data-slide-to="1"></li>
		    <li data-target="#myCarousel" data-slide-to="2"></li>
		    <li data-target="#myCarousel" data-slide-to="3"></li>
		  </ol>
		  <div class="carousel-inner">
		  	<div [class]="item.class" *ngFor="let item of data">
		  		<div class="row row-slide">
		  			<div class="col-xs-12">
		  				<img [src]="oiLogo" class="slide-logo">
		  			</div>
		  			<div class="clearfix"></div>
		  			<br>
		  			<div class="col-xs-12" align="center">
		  				<img [src]="item.slide" class="img-responsive slide-image">
		  			</div>
		  			<div class="clearfix"></div>
		  			<br>
		  			<div class="col-xs-12">
		  				<p class="slide-text">{{item.text}}</p>
		  			</div>
		  			<div class="clearfix"></div>
		  		</div>
		  	</div>
		  </div>
		</div>
	</div>
	<div *ngIf="isConfirm">
		<div id="myCarousel" class="carousel slide" data-ride="carousel">
		  <ol class="carousel-indicators">
		    
		  </ol>
		  <div class="carousel-inner">
		  	<div class="item active">
		  		<div class="row row-slide">
		  			<div class="col-xs-12">
		  				<img [src]="oiLogo" class="slide-logo">
		  			</div>
		  			<div class="clearfix"></div>
		  			<br>
		  			<div class="col-xs-12" align="center">
		  				<img [src]="slide_confirm" class="img-responsive slide-image">
		  			</div>
		  			<div class="clearfix"></div>
		  			<br>
		  			<div class="col-xs-12">
		  				<p class="slide-text">{{text_confirm}}</p>
		  			</div>
		  			<div class="clearfix"></div>
		  		</div>
		  	</div>
		  </div>
		</div>
	</div>
	<div class="clearfix"></div>
	<br>
	<div class="col-xs-12">
		<div class="col-xs-12">
			<p class="title" id="title">INSIRA SEU NÚMERO OI COM DDD</p>
			<br>
			<input type="number" id="input" class="input" placeholder="DDD + Telefone">
		</div>
	</div>
	<div class="clearfix"></div>
	<br>
	<br>
	<button class="text-center button" id="action" (click)="confirm()">Seguir</button>
	<br>
	<br>
	<p class="text-center labelInfo" id="labelInfo">1 DE 2</p>
	<div *ngIf="isConfirm">
		<br>
		<p class="text-center" style="width: 100%;font-size: 20px;color: #D5C1DE;text-decoration: underline;">Reenviar Código</p>
		<br>
	</div>
</div>