select:invalid { 
	color: gray; 
}

.select-main {
	width: 100%;
	height: 60px;
	font-size: 21px;
	border: solid 1px #e4e4e4;
	padding-left: 20px;
	padding-right: 20px;
}

/* CUSTOM SELECT */

.select-category-div {
	border: solid 1px #e4e4e4;
}
.select-category {
	width: 93%;
    text-align: left;
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
    border-radius: 0px;
    height: 60px;
    font-size: 21px;
    font-weight: unset;
    border: 0;
}
.select-ul {
	width: 100%;
}
.select-li {
	height: 45px;
}
.select-li-i {
	width: 40px;
	height: 30px;
	text-align: right;
	color: rgb(0, 0, 0);
	font-size: 23px;
	line-height: 41px;
}
.select-li-name {
	font-size: 21px;
	color: #545454;
	padding-left: 15px;
	line-height: 45px;
}

/* CUSTOM SELECT */

.labels {
	font-size: 21px;
	color: #545454;
}

.common-input {
	border: solid 1px #e4e4e4;
	height: 60px;
	width: 100%;
	font-size: 21px;
}

.paddings {
	padding-left: 20px;
	padding-right: 20px;
}

.item-circle {
	color: green;
	line-height: 60px;
}

.input-name {
	border: 0;
	width: 100%;
	height: 100%;
	background-color: transparent !important;
}

.button {
	width: 100%;
	height: 65px;
	background: white;
	border: solid 1px #b7b7b7;
	color: #b7b7b7;
	font-size: 20px;
	margin-bottom: 25px;
	border-radius: 10px;
}

.no-padding {
    padding: 0 !important;
}

.open>.dropdown-toggle.btn-default.focus, .open>.dropdown-toggle.btn-default:focus, .open>.dropdown-toggle.btn-default:hover {
    color: #333;
    background-color: #ffffff;
    border-color: #8c8c8c;
}
.prompt {
    height: 100%; 
    width: 100%; 
    position: fixed; 
    z-index: 9998; 
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.5); 
    overflow-x: hidden; 
    padding-top: 50%; 
    transition: 0.4s;
    display: none;
}

.color-prompt {
	background-color: white;
}

.prompt-title {
	font-size: 21px;
    line-height: 60px;
}

.prompt-close {
    font-size: 50px;
    color: #58595B;
    line-height: 56px;
    margin-right: 7px;
}

.prompt-color-ball {
	width: 52px;
	height: 56px;
	font-size: 60px;
}

.custom-date {
    margin: 0;
    height: 100%;
    line-height: 60px;
    padding: 0;
}