<div class="container-fluid">
	<div id="prompt" class="prompt">
		<div class="col-xs-12">
			<div class="col-xs-12 color-prompt">
				<div class="col-xs-9 prompt-title">Selecione uma cor</div>
				<div class="col-xs-3 text-right">
					<a href="javascript:void(0)" class="prompt-close" (click)="closePrompt()">&times;</a>
				</div>
				<div class="clearfix"></div>
				<br>
				<div class="col-xs-3">
					<i class="fa fa-circle item-circle select-li-i prompt-color-ball" aria-hidden="true" style="color: #fee633;" (click)="selectColor(1)"></i>
				</div>
				<div class="col-xs-3">
					<i class="fa fa-circle item-circle select-li-i prompt-color-ball" aria-hidden="true" style="color: #881edd;" (click)="selectColor(2)"></i>
				</div>
				<div class="col-xs-3">
					<i class="fa fa-circle item-circle select-li-i prompt-color-ball" aria-hidden="true" style="color: #fd7022;" (click)="selectColor(3)"></i>
				</div>
				<div class="col-xs-3">
					<i class="fa fa-circle item-circle select-li-i prompt-color-ball" aria-hidden="true" style="color: #00ceff;" (click)="selectColor(4)"></i>
				</div>
				<div class="clearfix"></div>
				<br>
				<br>
				<div class="col-xs-3">
					<i class="fa fa-circle item-circle select-li-i prompt-color-ball" aria-hidden="true" style="color: #4577ea;" (click)="selectColor(5)"></i>
				</div>
				<div class="col-xs-3">
					<i class="fa fa-circle item-circle select-li-i prompt-color-ball" aria-hidden="true" style="color: #fd2145;" (click)="selectColor(6)"></i>
				</div>
				<div class="col-xs-3">
					<i class="fa fa-circle item-circle select-li-i prompt-color-ball" aria-hidden="true" style="color: #00edc9;" (click)="selectColor(7)"></i>
				</div>
				<div class="col-xs-3">
					<i class="fa fa-circle item-circle select-li-i prompt-color-ball" aria-hidden="true" style="color: #f432a4;" (click)="selectColor(8)"></i>
				</div>
				<div class="clearfix"></div>
				<br>
				<br>
			</div>
		</div>
	</div>

	<div class="col-xs-12">
		<!-- <select #t (change)="setCategories(t.value)" class="select-main" [disabled]="!isLoaded">
			<option value="" disabled selected hidden>Selecione</option>
			<option value="1" style="font-weight: unset;">Despesa</option>
			<option value="2" style="font-weight: unset;">Receita</option>
		</select> -->

		<div class="dropdown select-category-div">
		  <button class="btn btn-default dropdown-toggle select-category" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    {{tipo}}
		  </button>
		  <span class="caret"></span>
		  <ul class="dropdown-menu select-ul" aria-labelledby="dropdownMenu1">
		    <li class="select-li" (click)="setCategories(1)">
		    	<span class="select-li-name">Despesa</span>
		    </li>
		    <li class="select-li" (click)="setCategories(2)">
		    	<span class="select-li-name">Receita</span>
		    </li>
		  </ul>
		</div>

		<br>
		<br>
		<p class="labels">Categoria:</p>
		<div class="dropdown select-category-div">
		  <button class="btn btn-default dropdown-toggle select-category" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
		    Selecione
		  </button>
		  <span class="caret"></span>
		  <ul class="dropdown-menu select-ul" aria-labelledby="dropdownMenu1">
		    <li class="select-li" (click)="display(categoria)" *ngFor="let categoria of categorias">
		    	<i class="fa fa-circle item-circle select-li-i" aria-hidden="true" [style.color]="categoria.color" *ngIf="categoria.id != 3301"></i>
		    	<span class="select-li-name">{{categoria.name}}</span>
		    </li>
		  </ul>
		</div>
		<div *ngIf="isNew">
			<br>
			<p class="labels">Nome:</p>
			<div class="col-xs-12 common-input no-padding">
				<div class="col-xs-2 no-padding text-center" style="height: 100%;">
					<i class="fa fa-circle item-circle" aria-hidden="true" [style.color]="selectedCategoryColor" (click)="chooseColor()"></i>
				</div>
				<div class="col-xs-10 no-padding" style="height: 100%;">
					<input class="input-name" type="text" id="name" placeholder="Ex. Salário">
				</div>
			</div>
			<br>
			<br>
			<br>
		</div>
		<div *ngIf="isSelected">
			<br>
			<p class="labels">Descriçao:</p>
			<input class="common-input paddings" type="text" id="description" placeholder="Ex. Estágio">
			<br>
			<br>
			<p class="labels">Valor:</p>
			<input class="common-input paddings" type="number" id="value" placeholder="0,00">
			<br>
			<br>
			<p class="labels">Data:</p>
			<input class="common-input paddings" type="text" id="datepicker" (click)="showDatePicker()" [(ngModel)]="actualDateCustom">
			<br>
			<br>
			<button class="button" id="concluir" (click)="addTransaction()">Concluir</button>
		</div>
	</div>
</div>