@media screen and (max-width: 340px){
    .sub-menu-text{
        font-size: 11px !important;
    }
}
@media screen and (min-width: 341px) and (max-width: 386px){
    .sub-menu-text{
        font-size: 12px !important;
    }
}
@media screen and (min-width: 387px) {
    .sub-menu-text{
        font-size: 13px !important;
    }
}

.no-padding {
    padding: 0 !important;
}

.padding-right {
    padding-left: 0px !important;
    padding-right: 15px !important;
}

.sub-menu-text {
    color: #404040 !important;
}
.sub-menu-active {
    border-bottom: solid 1px #00ceff;
    display: inline-block;
}

.box-border {
    border: solid 1px #EEEEEE;
    width: 100% !important;
}

.title {
    font-size: 20px;
    color: #404040 !important;
}

.row-style {
    height: 60px;
    border-bottom: solid 1px #EEEEEE;
    margin: 0;
}

.row-text {
    font-size: 16px;
    color: #404040 !important;
    margin: 0 0 0 0;
}

.line-60 {
    line-height: 60px;
}
.delete {
    line-height: 58px;
    font-size: 30px;
    color: #cacaca;
}

.txt-no-lancamentos {
    font-size: 20px;
    color: #b7b7b7;
    padding: 150px 0px 150px 0px;
}

.padding-right {
    padding-left: 0px !important;
    padding-right: 15px !important;
}

.margins {
    margin-right: 0px !important;
    margin-left: 0px !important;
}