<div class="container-fluid">
	<div class="row text-center">
		<div class="col-xs-4 no-padding">
			<a routerLink="/" >
				<p class="sub-menu-text">VISÃO GERAL</p>
			</a>
		</div>
		<div class="col-xs-4 no-padding">
			<a routerLink="/receita_e_despesas" >
				<p class="sub-menu-text sub-menu-active">RECEITA E DESPESAS</p>
			</a>
		</div>
		<div class="col-xs-4 no-padding">
			<a routerLink="/relatorio" >
				<p class="sub-menu-text">RELATÓRIO</p>
			</a>
		</div>
	</div>
	<br>
	<div class="clearfix"></div>
	<div class="row">
		<div class="col-xs-12 text-center">
			<p class="title" style="text-transform: uppercase;">{{_date}}</p>
		</div>
	</div>
	<div class="clearfix"></div>
	<br>
	<div class="row margins">
		<div class="col-xs-12 box-border padding-right">
			<div *ngIf="!noData">
				<div class="row row-style" *ngFor="let item of data">
						<div class="col-xs-2 no-padding text-center line-60">
							<i class="fa fa-circle item-circle" aria-hidden="true" style="font-size: 18px;" [style.color]="item.color"></i>
						</div>
						<div class="col-xs-5 no-padding line-60">
							<p class="row-text">{{item.name}}</p>
						</div>
						<div class="col-xs-4 no-padding text-right line-60">
							<p class="row-text">{{item.value}}</p>
						</div>
						<div class="col-xs-1 no-padding text-right">
							<a href="javascript:void(0)" class="menu-close delete" (click)="deleteTransaction(item.id)">&times;</a>
						</div>
				</div>
			</div>
			<div *ngIf="noData">
				<div class="row">
					<div class="col-xs-1"></div>
					<div class="col-xs-10 text-center txt-no-lancamentos">
						Você ainda não possui lançamentos no período.
					</div>
					<div class="col-xs-1"></div>
				</div>
			</div>
		</div>
	</div>
</div>