@font-face {
	font-family: 'SimplonBP';
	src: 
		url('assets/fonts/SimplonBP-Regular.ttf') 
		format('truetype');
}
@font-face {
	font-family: 'SimplonOi';
	src: 
		url('assets/fonts/SimplonOi-Headline.ttf') 
		format('truetype');
}

body {
    font-family: 'SimplonBP' !important;
}