@media screen and (max-width: 340px){
    .sub-menu-text{
        font-size: 11px !important;
    }
}
@media screen and (min-width: 341px) and (max-width: 386px){
    .sub-menu-text{
        font-size: 12px !important;
    }
}
@media screen and (min-width: 387px) {
    .sub-menu-text{
        font-size: 13px !important;
    }
}

.no-padding {
    padding: 0 !important;
}

.padding-right {
    padding-left: 0px !important;
    padding-right: 15px !important;
}

.sub-menu-text {
    color: #404040 !important;
}
.sub-menu-active {
    border-bottom: solid 1px #00ceff;
    display: inline-block;
}

.txt-no-lancamentos {
    font-size: 20px;
    color: #b7b7b7;
    padding: 150px 0px 150px 0px;
}

.btn-add-item {
    width: 100%;
    height: 65px;
    background: white;
    border: solid 1px #b7b7b7;
    color: #b7b7b7;
    font-size: 20px;
    margin-bottom: 25px;
    border-radius: 10px;
}

/* CUSTOM SELECT */

.select-category-div {
    border: solid 1px #e4e4e4;
}
.select-category {
    width: 95%;
    text-align: left;
    background-image: linear-gradient(to bottom,#fff 0,#fff 100%);
    border-radius: 0px;
    height: 60px;
    font-size: 21px;
    font-weight: unset;
    border: 0;
}
.select-ul {
    width: 100%;
}
.select-li {
    height: 45px;
}
.select-li-i {
    width: 40px;
    height: 30px;
    text-align: right;
    color: rgb(0, 0, 0);
    font-size: 23px;
    line-height: 41px;
}
.select-li-name {
    font-size: 21px;
    color: #545454;
    padding-left: 15px;
    line-height: 45px;
}

/* CUSTOM SELECT */