<div class="container-fluid">
	<div class="row text-center">
		<div class="col-xs-4 no-padding">
			<a routerLink="/" >
				<p class="sub-menu-text">VISÃO GERAL</p>
			</a>
		</div>
		<div class="col-xs-4 no-padding">
			<a routerLink="/receita_e_despesas" >
				<p class="sub-menu-text">RECEITA E DESPESAS</p>
			</a>
		</div>
		<div class="col-xs-4 no-padding">
			<a routerLink="/relatorio" >
				<p class="sub-menu-text sub-menu-active">RELATÓRIO</p>
			</a>
		</div>
	</div>
	<div class="clearfix"></div>
	<br>
	<div class="row">
		<div class="col-xs-12">
			<!-- <select #month (change)="getMonthResume(month.value)" style="width: 100%;height: 50px;font-size: 20px;padding-left: 20px;padding-right: 20px;border: solid 1px #e6e6e6;color: #868686;">
			  <option *ngFor="let month of availableMonths" [value]="month.value" [attr.selected]="month.isSelected" style="font-weight: unset;">{{month.name}}</option>
			</select> -->
			<div class="dropdown select-category-div">
			  <button class="btn btn-default dropdown-toggle select-category" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
			    {{selectedMonth}}
			  </button>
			  <span class="caret"></span>
			  <ul class="dropdown-menu select-ul" aria-labelledby="dropdownMenu1">
			    <li class="select-li" (click)="getMonthResume(month.value)" *ngFor="let month of availableMonths">
			    	<span class="select-li-name">{{month.name}}</span>
			    </li>
			  </ul>
			</div>
		</div>
	</div>
	<br>
	<div class="row">
		<div class="col-xs-12">
			<div [hidden]="noData">
				<div class="col-xs-12" id="chartArea">
					<canvas id="bar-chart" width="100%" height="75"></canvas>
				</div>
				<div class="clearfix"></div>
				<div class="col-xs-12" *ngFor="let item of data" style="height: 31px;line-height: 31px;">
					<div class="col-xs-2 text-center no-padding">
						<i class="fa fa-circle item-circle" aria-hidden="true" style="font-size: 18px;" [style.color]="item.color"></i>
					</div>
					<div class="col-xs-10 no-padding" style="color: #b5b5b5;font-size: 18px;">
						{{item.name}}
					</div>
				</div>
				<div class="clearfix"></div>
				<br>
				<br>
				<div class="col-xs-12">
					<p style="color: #b5b5b5;font-size: 16px;">Quer receber esse relatório por e-mail?</p>
					<input type="text" name="email" placeholder="E-mail" style="color: #b5b5b5;border: solid 1px #cecece;width: 100%;height: 65px;font-size: 22px;padding-left: 20px;padding-right: 20px;">
					<br>
					<br>
					<button class="btn-add-item" (click)="tmp()">Enviar</button>
				</div>
			</div>
			<div [hidden]="!noData">
				<div class="col-xs-1"></div>
				<div class="col-xs-10 text-center txt-no-lancamentos">
					Você ainda não possui lançamentos no período.
				</div>
				<div class="col-xs-1"></div>
			</div>
		</div>
	</div>
</div>