.no-padding {
	padding: 0;
}

.row-search {
	border-bottom: solid 1px #e4e4e4;
    height: 40px;
}
.icon-search {
	font-size: 25px;
	color: #afafaf;
}
.text-search {
	font-size: 20px;
	border: 0;
	height: 30px;
	color: black;
}
.text-search::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  color: #afafaf;
}
.text-search::-moz-placeholder { /* Firefox 19+ */
  color: #afafaf;
}
.text-search:-ms-input-placeholder { /* IE 10+ */
  color: #afafaf;
}
.text-search:-moz-placeholder { /* Firefox 18- */
  color: #afafaf;
}

.main-title {
	font-size: 38px;
    color: #383838;
}

.title {
	font-size: 23px;
    line-height: 25px;
    color: #3e3e3e;
}
.content {
	font-size: 18px;
    line-height: 22px;
    color: gray;
}

.button {
	width: 100%;
    height: 50px;
    border: 0;
    background-color: #00CEFF;
    font-size: 18px;
    color: white;
}

.divider {
	border-bottom: solid 1px #e4e4e4
}
.divider2 {
	border-bottom: solid 1px rgba(64, 64, 64, 0.14)
}

.row-footer {
	background-color: #00CEFF;
}

.sub-row-logo {
	height: 85px;
}

.item-menu {
	color: white;
    font-size: 25px;
    font-family: SimplonOi;
}

.copyright {
	font-size: 12px;
	color: rgba(255, 255, 255, 0.55);
}

.logo {
	height: 55px;
	margin-top: 12px;
}