<div class="container-fluid">
	<div class="row row-search">
		<div class="col-xs-2 text-right no-padding">
			<i class="fa fa-search icon-search" aria-hidden="true"></i>
		</div>
		<div class="col-xs-10">
			<input type="text" id="search" class="text-search" placeholder="Buscar no site">
		</div>
	</div>
	<div class="clearfix"></div>
	<br>
	<div class="col-xs-12">
		<p class="main-title">MATÉRIAS</p>
	</div>
	<div class="clearfix"></div>
	<br>
	<div *ngFor="let item of data">
		<div class="col-xs-12">
			<p class="title">{{item.title}}</p>
			<p class="content">{{item.content}}</p>
		</div>
		<div class="clearfix"></div>
		<br>
	</div>
	<div class="col-xs-12">
		<button class="text-center button" id="action">Carregar mais</button>
	</div>
	<div class="clearfix"></div>
	<br>
	<div class="divider"></div>
	<div class="clearfix"></div>
	<br>
	<div class="col-xs-12">
		<p class="title">Controle de despesas</p>
		<p class="content">Controle sua receita e gastos, recebendo relatorios mensais dos seus lancamentos!</p>
	</div>	
	<div class="clearfix"></div>
	<br>	
	<div class="col-xs-12">
		<button class="text-center button" routerLink="/" >Ir para a ferramenta</button>
	</div>
	<div class="clearfix"></div>
	<br>
	<br>
	<div class="row row-footer">
		<div class="col-xs-12 divider2 sub-row-logo">
			<div class="col-xs-2">
				<img [src]="logoOi" class="logo">
			</div>
		</div>
		<div class="clearfix"></div>
		<br>	
		<br>	
		<div class="col-xs-12 divider2">
			<div class="col-xs-12">
				<p class="item-menu" routerLink="/blog">MATERIAS</p>
				<br>
				<p class="item-menu" routerLink="/">CONTROLE DE DESPESAS</p>
				<br>
			</div>	
		</div>	
		<div class="clearfix"></div>
		<br>
		<div class="col-xs-12">
			<div class="col-xs-12">
				<p class="copyright">Copyright 2017 - Todos os direitos reservados</p>
			</div>	
		</div>	
		<div class="clearfix"></div>
		<br>
	</div>
</div>